
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Mulish:wght@200;400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1e1e20;
  --bg-light-color: #303036;
  --text-color: #f9f9f9;
  --para-color: #9c9c9c;
  --main-color: #4387ee; /***#8f43ee**/
  --light-color: #74a5f0; /***#b37df5**/
  --extra-light: #9bc3ff; /***#cea5ff**/
  --white-text: #ffff;
}

body {
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

/******Header****/

.container {
  max-width: 1450px;
  padding: 0 75px;
  margin: auto;
}

.navbar.colorSticky:hover {
  background: var(--bg-light-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background: var(--bg-light-color);
  width: 100%;
  padding: 30px 200px;
  left: 0;
  transition: all 0.5s;
}

.navbar.colorSticky {
  position: fixed;
  z-index: 1000;
  background: var(--light-color);
  padding: 15px 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}



/* ***** Navbar Responsive *****/

@media (max-width: 900px) {
  .navbar {
    padding: 15px 40px;
  }

  .navbar.colorSticky {
    background: var(--light-color);
    padding: 10px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}


.navbar .logo {
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: var(--text-color);
}

.navbar .rightnav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--light-color);
}

/**** Link Hover Effect *****/

nav ul li:hover::after {
    width: 100%;
    left: 0;
}

nav ul li:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--light-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
} 

/******** Hero Section *******/

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.content {
  display: flex;
  align-items: center;
  height: 85vh;
  justify-content: center;
  position: relative;
}

.hero-main {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}

.hero-text h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--light-color);
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.3;
  margin: 15px 0;
}

.hero-text p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--para-color);
  line-height: 1.3;
  font-family: "Mulish", sans-serif;
  margin: 15px 0;
}

.hero .hero-image img {
  margin-top: 20px;
  width: 370px;
  height: 370px;
  background-position: 50%;
  border: 3px solid white;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  box-shadow: 0 0 35px rgba(121, 146, 255, 0.67); /**rgba(213, 121, 255, 0.67)**/
  animation: ralf23 8s ease-in-out infinite;
}

@keyframes ralf23 {
0% {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}

50% {
  border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
}

100% {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}

}

/******** Hero-Buttons*********/

.buttons {
  margin: 20px 0;
}

.buttons button {
  padding: 10px 15px;
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.buttons button:hover {
  background: transparent;
  border: 2px solid var(--main-color);
}

.buttons .btn2 {
  margin: 0 20px;
  background: transparent;
  border: 2px solid var(--main-color);
}

.buttons .btn2:hover {
  background: var(--main-color);
  border: 2px solid transparent;
}

.buttons .btn2 a, .buttons .btn1 a {
  color: var(--text-color);
  text-decoration: none;
}
  
/*********Tech Skills Logos*********/

.skillss {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--para-color);
}

.skillss p {
  border-right: 2px solid var(--text-color);
  color: var(--para-color);
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-right: 4rem;
  padding-right: 2rem;

}

.skillss ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-top: 10px;
}

.skillss ul li img {
  width: 35px;
  height: auto;
  cursor: pointer;
}


/*********** Responsive for hero section ********/

@media (max-width:900px) {
  .container {
    padding: 0px 40px;

  }

  .hero {
    height: auto;
    padding-top: 5rem;
  }
  
  .content {
    flex-direction: column;
    gap: 3rem;
    height: auto;
    text-align: center;
  }

  .hero-main {
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.4rem;
    font-weight: 700;

  }

  .hero-text h2 {
    font-size: 1.2rem;
  }

  .skillss {
    flex-direction: column;
    position: static;
  }

  .skillss ul {
    justify-content: center;
    margin: 3.3rem;

  }
}

/********* Responsive header *************/

.menu-icon,
.close-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 775px) {

  .menu-icon {
    display: block;

  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background: var(--text-color);
    width: 100%;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s;

  }

  nav ul li a {
    color: var(--bg-color);
  }

  nav ul li {
    margin: 5px 0px;
    text-align: center;
    padding: 0;
  }

  .hero .hero-image img {
    width: 260px;
    height: 260px;
    transition: all 0.7s ease-in-out;

  }

  .buttons button {
    padding: 5px 8px;
    font-size: 13px;
  }

}

@media (max-width: 500px) {
  .logo {
    font-size: 13px;
    font-weight: 700;
  }

  .hero .hero-image img {
    width: 180px;
    height: 180px;
    transition: all 0.7s ease-in-out;
  }

  .hero-text h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .hero-text p {
    font-size: 0.8rem;
  }

  .buttons .btn2 {
    margin-left: 5px;

  }

  .skillss ul {
    gap: 1rem;
  }

  .skillss ul li img {
    width: 25px;
    height: auto;
  }
}

/* -- ##### About_Us ##### -- */

.about {
  display: flex;
  flex-direction: row; /* Ensure content is displayed in a row */
  justify-content: center; /* Align content horizontally */
  align-items: flex-start; /* Align items to the top */
  gap: 3.2rem;
  padding: 5rem 15%;
  background-color: var(--bg-light-color);
}

.section-title {
  font-size: 2.5rem;
  color: var(--white-text);
  margin-bottom: 20px;
  text-align: left; /* Align title text to the left */
  flex-basis: 100%; /* Ensure the title takes up full width */
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.section-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  flex-direction: row; /* Keep in a row */
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem 15%;
  background-color: var(--bg-light-color);
}



.about-content {
  max-width: 600px; /* Constrain the width of the content for better readability */
  text-align: justify;
  color: var(--white-text);
}

.about-img {
  margin-top: 0;
}

.about-img img {
  width: 18rem;
  height: auto;
  display: block;
}

/* Skill Bar */

.about .skill-container {
  margin-top: 20px;
}

.about .skills1 {
  width: 100%;
}

.about .skill-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--white-text);
  margin: 7px 0;
  text-transform: uppercase;
}

.about .skill-bar {
  height: 12px;
  background: var(--para-color);
  border-radius: 2px;
}

.about .skill-per {
  height: 12px;
  background: var(--main-color);
  border-radius: 2px;
  position: relative;
}

.about .skill-per::before {
  content: attr(per);
  padding: 4px 6px;
  background: var(--white-text);
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.about .skill-per::after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--white-text);
  border-radius: 2px;
  position: absolute;
  top: -15px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
}

/* *****About Responsive****** */

@media(max-width:900px) {
    .about {
    flex-direction: column;
    padding: 6rem 40px;
    }

    .about-content {
      width: 100%;
      text-align: justify;
    }

    .about .about-img img {
      width: 15rem;
      height: auto;
    }

}

/* *** Services *** */

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding-bottom: 100px;
} 

.services h2 {
  text-align: center;
  padding: 3rem;
  color: var(--white-text);
  font-size: 2.5rem;
  margin-top: 2rem;
}

.services .services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0 10%;
}

.services .services-container .services-box {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--white-text);
  cursor: pointer;
  transition: ease .3s;
}

.services .services-container .services-box:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
}

.services .services-container .services-layer h3 {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  color: var(--white-text);
  text-align: center;
}

.services .services-container .services-layer i { 
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--white-text);
}

.services .services-container .services-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  transition: 0.5s ease;
  background-color: rgba(2, 2, 2, 0.2);
}

.services .services-container .services-box:hover .services-layer {
  background-color: var(--main-color);
}

.services .services-container .services-box img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;

}

.services .services-container .services-layer p {
  font-size: 1.3rem;
  color: var(--white-text);
  padding: 0 .4rem;
  text-align: center;
  text-shadow: #303036;
}

/* ***** Services Responsive ***** */

@media(max-width:900px) {

  .services .services-container {
    flex-direction: column;
  }

  .services .services-container .services-box {
    width: 100%;
  }

 
}


/* **** Portfolio **** */

.portfolio {
  background-color: var(--bg-light-color);
  padding-bottom: 10rem;
}

.portfolio h2 {
  text-align: center;
  padding: 3rem;
  color: var(--white-text);
  font-size: 2.5rem;
  margin-top: 2rem;
}

.portfolio-box img {
  width: 100%;
  height: 100%; 
  transition: .5s ease;
  background-size: cover;
}

.portfolio-box img:hover {
  transform: scale(1.1);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 10%;
  
}

.portfolio-layer h4 {
  font-size: 1.8rem;
  color: var(--white-text);
}

.portfolio-layer p {
  font-size: 1rem;
  color: var(--white-text);
  text-align: center;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
  color: var(--bg-light-color);
}   

.portfolio-container .portfolio-box {
  flex: 1 350px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: solid rgba(255, 255, 255, 0.8) 1px;
  box-shadow: rgba(255, 255, 255, 0.8);
  background-size: cover;
  
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4rem;
  transform: translateX(-100%);
  transition: 0.5s ease;

}

.portfolio-box:hover .portfolio-layer {
  transform: translateX(0);
}

/* ****Contact Form**** */

.contact-form-container {
  text-align: center;
  padding: 4rem 4rem;
}

.contact-form-container h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 4rem;
  color: var(--white-text);
  margin-bottom: 2rem;
}

.contact-form-container input, textarea {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 70%;
  margin: 1rem 0;
  border: 2px solid var(--para-color);
  outline: none;
  background-color: var(--bg-light-color);
  color: var(--white-text);
  transition: all 0.3s;


}

.contact-form-container input:focus, textarea:focus {
  border: 2px solid var(--light-color);
}

.contact-form-container button {
  display: block;
margin: 1rem auto;
width: 70%;
padding: 1rem;
border-radius: 0.5rem;
background-color: var(--main-color);
color: var(--white-text);
font-size: 1.2rem;
cursor: pointer;
transition: all 0.3s;
box-shadow: 0 0 10px var(--main-color);
cursor: pointer;
border: 2px solid transparent;
}

.contact-form-container button:hover {
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.contact-form-container .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.contact-form-container .contact-container .calendly {
  flex: 1 60%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;
  
}

@media (max-width:990px) {
  .contact-form-container {
    padding: 0 20px 7rem;
  } 

  .contact-form-container .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 3rem;
  }

}

  /* *****Footer Section***** */

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light-color);
    padding: 30px 70px;
  }

  .footer p {
    color: var(--white-text);
    font-size: 14px;
  }

  .footer p a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 16px;
  }

  .footer .footer-menu .socials {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .footer .footer-menu .socials li a {
    color: var(--white-text);
    font-size: 18px;
    text-decoration: none;
  }

  .footer .footer-menu .socials li a i {
    font-size: 20px;
    border-radius: 50%;
    background-color: #585858;
    color: var(--white-text);
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .footer .footer-menu .socials li a i:hover {
    background-color: var(--main-color);
  }

  .footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .footer ul a {
    text-decoration:  none;
    color: var(--white-text);
  }

  .footer ul a:hover {
    color: var(--main-color);
  }

  @media (max-width:990px) {

    .footer {
      flex-direction: column;
    }

    .footer p,
    .footer ul {
      margin-bottom: 25px;
    }
  }