
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Mulish:wght@200;400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1e1e20;
  --bg-light-color: #303036;
  --text-color: #f9f9f9;
  --para-color: #9c9c9c;
  --main-color: #8f43ee;
  --light-color: #b37df5;
  --extra-light: #cea5ff;
}

body {
  background-color: var(--bg-color);
}

/******Header****/

.container {
  max-width: 1350px;
  padding: 0 75px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}

.navbar .logo {
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: var(--text-color);
}

.navbar .rightnav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--light-color);
}

/**** Link Hover Effect *****/

nav ul li:hover::after {
    width: 100%;
    left: 0;
}

nav ul li:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--light-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/******** Hero Section *******/

  